body {
    background-color: antiquewhite;
    font-family: "Bona Nova SC", serif;
}
.navbar {
    background-color: #e0dccf;
}
.text-hidden {
    height: 80px; /* Adjust this height as needed */
    overflow: hidden;
    position: relative;
}

.read-more {
    display: block;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.text-expanded {
    height: auto;
}
.custom-hover-btn {
    border-color: #c6bab5; 
    color: #c6bab5; 
}

.custom-hover-btn:hover {
    background-color: #c6bab5;
    border-color: #c6bab5; 
    color: white; 
}
.form-control {
    font-family: Arial, sans-serif !important; 
    text-transform: none;
}


