body {
    background-color: antiquewhite;
    font-family: "Bona Nova SC", serif;
}

.card {
    background-color: white;
    border-radius: 10px;
}

.form-control {
    border-radius: 5px;
    font-size: 1rem;
}

.btn-dark {
    background-color: dimgray;
    border: none;
    color: white;
    font-size: 1rem;
}

.text-muted {
    color: dimgray;
}

.text-success {
    color: #1f7724;
}
#emailInput {
    font-family: Arial, sans-serif !important; 
    text-transform: none;
}
