body {
    background-color: antiquewhite;
    font-family: "Bona Nova SC", serif;
}
.navbar {
    background-color: #e0dccf;
}
.text-hidden {
    height: 80px; /* Adjust this height as needed */
    overflow: hidden;
    position: relative;
}

.read-more {
    display: block;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.text-expanded {
    height: auto;
}
.custom-hover-btn {
    border-color: #c6bab5; 
    color: #c6bab5; 
}

.custom-hover-btn:hover {
    background-color: #c6bab5;
    border-color: #c6bab5; 
    color: white; 
}
.form-control {
    font-family: Arial, sans-serif !important; 
    text-transform: none;
}
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
    background-color: #28a745; /* Set this to the green color you want */
    color: white; /* Change the text color to white for better contrast */
    outline: none; /* Remove the outline */
}

input,
textarea,
select,
button {
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.form-control {
    font-family: Arial, sans-serif;
    font-size: 1em;
}
.profile-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-section {
    margin-bottom: 20px;
}



@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, antiquewhite, antiquewhite);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, antiquewhite, antiquewhite)
    }
    
    .bg-indigo {
    background-color: #85848e;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    